@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP|Roboto+Condensed');

// font-family: 'Noto Sans JP', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;

$baseColor: #232338;
$subColor: #2c2e46;
$thirdColor: #373e56;
$redColor: #f5365c;
$greenColor: #2dce89;
$blueColor: #298ef3;
$baseH2Size: 22px;
$baseH3Size: 20px;
$baseFontSize: 16px;
$mainFontColor: #efefef;
$baseFontFamily: 'Lato', 'Noto Sans JP', sans-serif;
$titleFontFamily: 'Roboto Condensed', 'Noto Sans JP', sans-serif;


.navbar-inverse {
  background: $baseColor;
  // link of nav-bar-title
  .navbar-brand {
    padding-top: 14.5px;
    text-decoration: none;
    color: $mainFontColor;
  }
  .navbar-nav>li>a {
    color: $mainFontColor;
    text-decoration: none;
    &:hover {
      background: $thirdColor;
      color: $mainFontColor;
    }
  }
  .navbar-nav>.active>a,
  .navbar-nav>.active>a:hover,
  .navbar-nav>.active>a:focus {
    background-color: $thirdColor;
    color: $mainFontColor;
  }
}
body {
  font-family: $baseFontFamily;
  background: $baseColor;
  color: $mainFontColor;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: $mainFontColor;
  font-family: $titleFontFamily;
}
h5, .h5 {
  font-size: $baseFontSize;
  font-weight: bold;
}
h2, .h2 {
  font-size: $baseH2Size;
}
h3, .h3 {
  font-size: $baseH3Size;
  font-weight: normal;
  sup {
    top: -0.2em;
  }
  b {
    font-weight: normal;
    font-weight: 100;
  }
}
a {
  color: #fff;
  &:hover, &:focus {
    color: #fff;
    p & {
      text-decoration: none;
    }
  }
  p & {
    text-decoration: underline;
  }
}
code {
  color: #f0abba;
  background-color: #1a1725;
  a {
    color: $mainFontColor;
    text-decoration: none;
    border-bottom: 1px solid $mainFontColor !important;
    &:hover {
      border-bottom: none;
    }
  }
}
.text-danger {
  color: #f86395;
}
.text-info {
  color: $blueColor;
}
.alert-warning {
  background-color: $redColor;
}
.btn-primary {
  text-decoration: none;
  background-color: $blueColor;
  &:hover {
    transform: translateY(-3px);
    background-color: $blueColor;
  }
  &:active:hover {
    background-color: $blueColor;
  }
  .text-dark {
    color: $mainFontColor;
  }
}
.btn-warning {
  text-decoration: none;
  background-color: $greenColor;
  &:hover {
    transform: translateY(-3px);
    background-color: $greenColor;
  }
  &:active:hover {
    background-color: $greenColor;
  }
  .text-dark {
    color: $mainFontColor;
  }
}

.panel {
  background: $subColor;
  .panel-heading {
    background: $thirdColor;
    color: $mainFontColor;
  }
  .panel-footer {
    background: $thirdColor;
  }
}
.container {
  .jumbotron {
    background: $baseColor;
    padding-left: 0;
    padding-right: 0;
    .img-responsive {
      background: $mainFontColor;
    }
    p {
      font-size: $baseFontSize;
    }
  }
}
.panel-body {
  > h5 {
    font-size: 15px;
    background: rgba(255,255,255,.4);
    color: $baseColor;
    padding: 5px;
    border-radius: 2px;
    font-weight: 300;
    margin-top: 0;
  }
}
> .panel-heading {
  .panel-warning & {
    background: $redColor;
  }
  .panel-success & {
    background: $greenColor;
  }
}

.panel>.list-group,
.panel>.panel-collapse>.list-group {
  padding-left: 0;
  padding-right: 0;
}
.list-group-item {
  background: $subColor;
  color: $mainFontColor;
  text-decoration: none;
  border: 1px solid $baseColor;
}
a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
  color: $mainFontColor;
}
a.list-group-item, button.list-group-item {
  color: $mainFontColor;
}

// テーブル
.table-hover>tbody>tr:hover {
  background-color: $thirdColor;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: $thirdColor;
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  border-top: 1px solid rgba(255,255,255,.1);
}

.list-group-item-text {
  line-height: 1.6;
}
a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
  text-decoration: none;
  color: $mainFontColor;
  background-color: $baseColor;
}

.well {
  background-color: $thirdColor;
  > * {
    margin: 0;
  }
}

.form-horizontal .form-group-lg .control-label {
  font-size: 15px;
}
textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control {
  font-size: 15px;
}