@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP|Roboto+Condensed');

// font-family: 'Noto Sans JP', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;

$baseColor: #232338;
$subColor: #2c2e46;
$thirdColor: #373e56;
$greenColor: #2dce89;
$redColor: #f5365c;
$baseH2Size: 20px;
$baseH3Size: 18px;
$baseFontSize: 16px;
$mainFontColor: #ffffff;
$baseFontFamily: 'Noto Sans JP', 'Lato', sans-serif;
$titleFontFamily: 'Noto Sans JP', 'Roboto Condensed', sans-serif;


.navbar-inverse {
  background: $baseColor;
  .navbar-brand {
    padding-top: 14.5px;
    text-decoration: none;
  }
}
// link of nav-bar-title
.navbar-inverse .navbar-brand {
  color: $mainFontColor;
}
// link of nav-bar
.navbar-inverse .navbar-nav>li>a {
  color: $mainFontColor;
  text-decoration: none;
  &:hover {
    background: $mainFontColor;
    color: $baseColor;
  }
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
  background-color: $thirdColor;
}
body {
  font-family: $baseFontFamily;
  background: $baseColor;
  color: $mainFontColor;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: $mainFontColor;
  font-family: $titleFontFamily;
}
h5, .h5 {
  font-size: $baseFontSize;
  font-weight: bold;
}
h2, .h2 {
  font-size: $baseH2Size;
}
h3, .h3 {
  font-size: $baseH3Size;
  sup {
    top: -0.2em;
  }
}
a {
  color: $mainFontColor;
  text-decoration: underline;
  &:hover, &:focus {
    color: $mainFontColor;
    text-decoration: none;
  }
}
code {
  color: #ff7e9f;
  background-color: #1a1725;
  a {
    color: $baseColor;
    text-decoration: none;
  }
}
.text-danger {
  color: #ff595f;
}
.text-info {
  color: #f095ff;
}

.alert-warning {
  background-color: $redColor;
}

.panel {
  background: $subColor;
  .panel-heading {
    background: $thirdColor;
    color: $mainFontColor;
  }
  .panel-footer {
    background: $thirdColor;
  }
}
.container {
  .jumbotron {
    background: $baseColor;
    padding-left: 0;
    padding-right: 0;
    .panel-body {
      > h5 {
        font-size: 14px;
        background: rgba(255,255,255,.4);
        color: $baseColor;
        padding: 5px;
        border-radius: 2px;
        font-weight: 400;
      }
    }  
    .img-responsive {
      background: $mainFontColor;
    }
    p {
      font-size: $baseFontSize;
    }
  }
}

> .panel-heading {
  .panel-warning & {
    background: $redColor;
  }
  .panel-success & {
    background: $greenColor;
  }
}

.panel>.list-group,
.panel>.panel-collapse>.list-group {
  padding-left: 0;
  padding-right: 0;
}
.list-group-item {
  background: $subColor;
  color: $mainFontColor;
  text-decoration: none;
  border: 1px solid #3a3a3a;
}
a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
  color: $mainFontColor;
}
a.list-group-item, button.list-group-item {
  color: $mainFontColor;
}

// テーブル
.table-hover>tbody>tr:hover {
  background-color: $thirdColor;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: $thirdColor;
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  border-top: 1px solid rgba(255,255,255,.1);
}

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
  text-decoration: none;
  color: $mainFontColor;
  background-color: $baseColor;
}